/* "links" styling (so all navbar labels or anything that is tapped) */

body {
    font-family: outfit !important;
}

a {
    text-decoration: none !important;
    color: black !important;
    text-wrap: none;
}

a:hover {
    text-decoration: none;
}

p {
    font-family: sf pro text;
}

p a {
    color: #1b67d9 !important;
}

p a:hover {
    text-decoration: underline !important;
}

h9 {
    font-size: 1.45rem;
    font-weight: 550;
}

/* navbar STARTS */

#navMargin {
    margin-left: 5rem;
    margin-right: 5rem;

}

.navbar {}

.docPrev {
    justify-content: center !important;
    align-items: center;
    display: flex !important;
    position: relative;
    height: 50rem;
    background-color: white;
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;


}

.doc {
   
    position: abosulte;
 
    left: 60rem !important;
    right: 10rem !important;
    width: 50rem;
    height: 100%;
    justify-content: center !important;
    border: .75px #464646 solid;

}

.essayDescr {
    display: inline-flex;
    padding: 1.625rem 2.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
}
.essayDescrItem {
    position: absolute;
    left: 10rem;

    background: #D9D9D9;
       
    width: 16.75rem!important;
    height: 16.125rem!important;
}


.homeIcon {
    scale:40%;
    display: inline-flex;
    justify-self: center;
   
}

.homeIcon:hover {
    cursor: pointer;

}

.nav-item {
    display: inline-block;
    font-size: 1.25rem;
    line-height: normal;
    padding-top: 1.56rem;
    padding-bottom: 1.56rem;
    padding-left: .75rem;
    padding-right: .75rem;
    cursor: pointer;
    text-decoration: none;
}

/* hover animations below -- keep labels and dropdown items consistent on hover animations*/

.nav-item:hover {
    font-weight: 550;

}

.dropdown-item:hover {
    font-weight: 575;
}


.active {
    text-decoration: underline;
}

.nav {
    margin-left: 5.94rem !important;
    margin-right: 5.94rem !important;
}

.auto1 {
    background-color: white;
    height: 6rem;
    /* navbar drop shadow */
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.03);
    padding-top: 4rem;
    padding-left: 5.94rem;
    margin-right: 5.94rem;
    /*
    padding-right: 5.94rem;
    */


    display: flex;
    justify-content: space-between;
    align-items: center;
}


.auto2 {
    display: inline-block;
    margin-left: auto;

}


.logo {

    font-size: 2rem !important;
    text-decoration: none;
    font-family: outfit;

}


.largeLogo {
    font-size: 5.125rem;
    font-weight: 400;
    font-style: normal;
    width: 49.5rem;
    height: 19.5rem;
    padding-left: 5.5rem;
    padding-right: 65 rem;
    display: inline-block;
    position: relative;
    top: -8.56rem;
}


/* dropdown styling from chat GPT */
/* Hide the dropdown content */
.dropdown-content {
    display: none;
}

/* Style the dropdown button */
.dropdown {
    position: relative;
}

/* Style the dropdown content */
.dropdown-content {
    padding-left: .5rem !important;
    padding-top: 1rem;
    padding-bottom: 2rem;
    position: absolute;
    top: 100%;
    left: 0;
    filter: blur(100);

    min-width: 160px;
    z-index: 1;
    font-family: outfit;
    font-size: 1.15rem;

}

/* Style the dropdown items (buttons) */
.dropdown-item {
    padding: .5rem !important;
    text-align: left;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

/* Change the background color of dropdown items on hover */
.dropdown-item:hover {
    background-color: #f1f1f1;
}




/*navbar ENDS*/
.subHolder {
    display: flex;
    align-items: center;
}
.subNav {
    display: inline-block;
    margin-top: 0rem;
    margin-left: 5rem !important;

}
.subNav a:hover {
    text-decoration: underline!important;
}
.subH12 {
  align-self: center;
vertical-align: center;
}

body {
    font-family: outfit;
    font-size: 1.15rem;
    padding: 0;
    margin: 0;

}


h1 {
    font-size: 1.75rem !important;
}


h2 {
    padding-left: 13.5rem;
    padding-top: 4rem;
    font-size: 2.5rem;
}




h4 {
    font-size: 2rem;


}

h10 {
    font-size: 1.2rem;
    font-weight: 508;
}

h11 {
    font-size: 1.15rem;
    font-weight: 450;

}

h12 {
    font: 1rem;
    font-weight: 300;
}

.resumeHeaderGroup {
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.image {
    justify-content: left;
    align-items: center;
}

.resumeSection p {
    margin-bottom: .5em;

}

/* begin Research Insights (row 3) */


    
    
    .card-title {
    background-color: #618291;
    }
    
    
    .workStuff {
    width: 100%;
    justify-content: center;
    }
    
    .card {
        border: .25px solid blackt;
        border-radius: 0!important;
    }
  
    
    .mainInfo {
       
        height: 40rem;
    }
    .mainDescr {
        margin-left: 10rem;
        margin-top: 10rem;
        padding-right: 4rem;
        
    }

    .mainImg {
        background-color: grey!important;
        height: 30rem;
        width: 16rem;
        margin-bottom: 10rem;
        margin-top: 10rem;
        
    
      }
   
    
    .card-text {
    width: 100%;
    color: white;
    }
    .card-textB {
        width: 100%;
        color: black;
        }
    
    h14 {
        font-size: 1.5rem;
        font-weight: 400;
        align-self: center;
 
    }
    
    .paperBlurb {
        padding-top: 1rem;
    }

    .icon1B {
        width: 2.081rem!important;
        height: 2.08094rem!important;
        align-self: center!important;
        padding-bottom: .75rem;
    }

    .cardHeaderB {
        background-color: #3B4968;
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        
    }
    
    /* cards specific to research description on research.html */
    
    .researchBox {
        position: absolute;
        height: 28.7rem;
        background-color: #3B4968!important;
        color: white;
        text-align: center;
    }
    .researchBlobHolder {
        postion: relative;
    }
    .icon1 {
        width: 2.081rem!important;
        height: 2.08094rem!important;
        align-self: center!important;
        padding-bottom: .75rem;
  
    }

    /* original title "researchBlob" */
    .researchBlob {
        height: 28.7rem;
        background-color: #3B4968!important;
        color: white;
        text-align: center;
        /*
        padding-right: 2.31rem;
        padding-left: 2.31rem;
        */
    
        }

    .researchBlob a {
        color: white!important;
    }

    .researchBlob a:hover {
        cursor: pointer;
    }

    .aboutBlob a {
        color: white!important;
    }

    .aboutBlob a:hover {
        cursor: pointer;
    }
    .card-body {
    width: 100%;

    }
    
    .cardHeader {
        background-color: #89A9F1;
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        
    }

        
    .cardHeaderC {
        background-color: #3B4968;
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: left;
        padding-left: 2rem;
        
    }
.cardHeaderC a {
    color: white!important;
}
    .cardLinks {
        border-bottom: black .25px solid;
        color: black;
        background-color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: left;
        padding-left: 3rem;
        padding-right: 3rem;

    }

    .cardLinksB {
        border-bottom: black .25px solid;
        color: black;
        background-color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: right!important;
        padding-left: 3rem;
        padding-right: 3rem;

    }
    .contArrow {
        scale: 75%;
       float: right;
      padding-top: .35rem;
    }
    .contArrowB {
        scale: 75%;
       float: right;
      padding-top: .35rem;
      padding-left: .5rem;
    }
    .cardLinks a {
        color: black!important;
    }
    
    

/* blog section START */
.blogLanding {
    margin-left: 24rem;
    margin-right: 24rem;
}
.blogLandTitle {

    text-align: center;
    padding: 2rem;
    
}

.blogTitle {
    text-align: center!important;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
.blogSection {
    margin-left: 10rem;
    margin-right: 10rem;
}

.resumeSection {
    margin-left: 20rem;
    margin-right: 20rem;
}

.contactSection {
    margin-left: 10rem;
    margin-right: 10rem;
}

.essaySection {
    margin-left: 10rem;
    margin-right: 10rem;
}

/* blog section END */


.aboutMe {
    width: 49.5rem;
    padding-left: 13.5rem;
    padding-top: 4rem;
}


.homeDescr {
    width: 49.5rem;
    padding-left: 13.5rem;
    padding-top: 4rem;
}

.footerLogo {
    color: white !important;
    padding-bottom: 1.25rem;
}

.footerLink {
    color: white !important;
    padding-bottom: .4rem;
}

.footerLink:hover {
    text-decoration: underline !important;
    cursor: pointer;

}

.footerChunk {
    margin-top: 6rem !important;
    background-color: black;
    padding-left: 5rem !important;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

/* Media Queries */
@media only screen and (max-width: 600) {}

@media (min-width:601px) and (max-width: 1024px) {}




@media (min-width:1025px) and (max-width: 1333px) {}


@media (min-width:1334px) and (max-width: 1363px) {}

@media (min-width:1364) and (max-width: 1464px) {}


@media (min-width:1465) and (max-width: 1528px) {}

@media (min-width:1529px) and (max-width: 1557px) {}