/* "links" styling (so all navbar labels or anything that is tapped) */


a {
    text-decoration: none !important;
    color: black !important;
}

a:hover {
    text-decoration: none;
}



/* navbar STARTS */


.label {
    display: inline-block;
    padding: 9.88rem 2rem;
    font-size: 1.25rem;
    font-family: outfit !important;
    line-height: normal;


    padding-top: 1.56rem;
    padding-bottom: 0.69rem;
    cursor: pointer;
    text-decoration: none;
}

/* hover animations below -- keep labels and dropdown items consistent on hover animations*/

.label:hover {
    font-weight: 550;

}

.dropdown-item:hover {
    font-weight: 575;
}


.active {
    text-decoration: underline;
}

.nav {
    margin-left: 5.94rem !important;
    margin-right: 5.94rem !important;
}

.auto1 {
    background-color: white;
    height: 6rem;
    /* navbar drop shadow */
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.03);
    padding-top: 4rem;
    padding-left: 5.94rem;
    margin-right: 5.94rem;
    /*
    padding-right: 5.94rem;
    */


    display: flex;
    justify-content: space-between;
    align-items: center;
}


.auto2 {
    display: inline-block;
    margin-left: auto;


}


.logo {
    display: inline-flex;
    font-size: 3rem;
    padding-right: 24rem;
    text-decoration: none;

}


.largeLogo {
    font-size: 5.125rem;
    font-weight: 400;
    font-style: normal;
    width: 49.5rem;
    height: 19.5rem;
    padding-left: 5.5rem;
    padding-right: 65 rem;
    display: inline-block;
    position: relative;
    top: -8.56rem;
}


/* dropdown styling from chat GPT */
/* Hide the dropdown content */
.dropdown-content {
    display: none;
}

/* Style the dropdown button */
.dropdown {
    position: relative;
}

/* Style the dropdown content */
.dropdown-content {
    padding-left: 1.75rem !important;
    padding-top: 1rem;
    padding-bottom: 2rem;
    position: absolute;
    top: 100%;
    left: 0;
    filter: blur(100);

    min-width: 160px;
    z-index: 1;
    font-family: outfit;
    font-size: 1.15rem;

}

/* Style the dropdown items (buttons) */
.dropdown-item {
    padding: .5rem !important;
    text-align: left;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

/* Change the background color of dropdown items on hover */
.dropdown-item:hover {
    background-color: #f1f1f1;
}




/*navbar ENDS*/


body {
    font-family: outfit;
    font-size: 1.15rem;
    padding: 0;
    margin: 0;

}


h1 {
    font-size: 2.5rem;
}


h2 {
    padding-left: 13.5rem;
    padding-top: 4rem;
    font-size: 2.5rem;
}




h4 {
    font-size: 2rem;


}




.image {
    justify-content: left;
    align-items: center;
}




.aboutMe {
    width: 49.5rem;
    padding-left: 13.5rem;
    padding-top: 4rem;
}


.homeDescr {
    width: 49.5rem;
    padding-left: 13.5rem;
    padding-top: 4rem;
}


.footerChunk {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    margin: 0;

}

/* Media Queries */
@media only screen and (max-width: 600) {}

@media (min-width:601px) and (max-width: 1024px) {}

@media (min-width:1025px) and (max-width: 1527px) {
    .nav {
        margin-left: 3.5rem !important;
        margin-right: 3.5rem !important;
    }
}

@media (min-width:1528px) and (max-width: 1557px) {
    .nav {
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
}